<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${'/user-edit/' + user.id}" method="post">
    <input th:value="${user.email}" name="email" type="text" placeholder="Insert email..."><br><br>
    <input th:value="${user.password}" name="password" type="password" placeholder="Insert password..."><br><br>
    <input th:value="${user.fullName}" name="fullName" type="text" placeholder="Insert full name..."><br><br>
    <button>SAVE CHANGES</button>
</form>
<hr>
<form th:action="${'/user-delete/' + user.id}" method="post">
    <button>REMOVE ACCOUNT</button>
</form>
</body>
</html>